Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry_0.bin
Saved/Logs/TheGathering_2025.log
Intermediate/CachedAssetRegistry_0.bin
Saved/Logs/TheGathering_2025.log
